=begin
#Reccito API

# # Reccito API  A receipt management platform that enables businesses to create, manage, and share digital receipts with customers through QR codes, mobile apps, and web interfaces.  ## Key Features  ### 🏢 **Multi-Tenant Architecture** - Organization and store hierarchy - Scoped API access and permissions - Isolated data per organization  ### 📱 **Digital Receipt Management** - Create and store digital receipts - Generate QR codes for easy customer access - Barcode generation for physical receipts - Time-limited QR codes for security  ### 🔐 **Authentication & Security** - API key authentication for merchants - JWT token authentication for customers - Phone-based customer verification with SMS - Rate limiting per organization - Permission-based access control  ## Authentication  ### Merchant Authentication (API Keys) ``` Authorization: Bearer rcp_live_1234567890abcdef ```  Merchants use API keys to access business endpoints. API keys can be scoped to: - **Organization level**: Access to all stores within organization - **Store level**: Access limited to specific store  ## Rate Limits  API requests are rate limited per organization (defaults: 60/minute, 1,000/hour, 10,000/day; configurable per organization). Responses include rate limit headers: - `X-RateLimit-Limit-Minute` / `X-RateLimit-Remaining-Minute` / `X-RateLimit-Reset-Minute` - `X-RateLimit-Limit-Hour` / `X-RateLimit-Remaining-Hour` / `X-RateLimit-Reset-Hour`  ## Error Handling  The API uses standard HTTP status codes. Error responses use one of two shapes depending on the endpoint — integrators should handle both:  - `404` and `500` responses use a structured envelope:   ```json   {       \"error\": {           \"code\": \"NOT_FOUND\",           \"message\": \"The requested resource was not found\",           \"path\": \"/api/v1/merchant/receipts/abc\"       }   }   ``` - All other error responses (400, 401, 403, 422, etc.) use FastAPI's default   `{\"detail\": ...}` shape, where `detail` may be a plain string or a   structured object depending on the endpoint. For example:   ```json   { \"detail\": \"No active subscription found.\" }   ```   or   ```json   { \"detail\": { \"code\": \"free_tier_quota_exceeded\", \"message\": \"...\" } }   ```   `422` validation errors follow FastAPI's standard `detail: [...]` array   shape (field, message, error type per invalid field).  ## Pagination  List endpoints use offset pagination (`page`/`limit` query parameters):  ```json {     \"receipts\": [...],     \"total\": 150,     \"page\": 1,     \"limit\": 25,     \"has_next\": true,     \"has_prev\": false } ```  ## Data Formats  ### Dates and Times Timestamps are ISO 8601. Most are UTC with an explicit offset (`2024-01-15T14:30:00+00:00`); a few older fields may omit the offset — treat any timestamp without one as UTC.  ### Currency and Amounts Monetary amounts are serialized as **decimal strings** (not numbers), with a separate `currency` field. This avoids floating-point precision loss and keeps every money field consistent across the API: ```json {     \"total_amount\": \"12.99\",     \"currency\": \"GBP\" } ``` Request bodies still lenient-accept a JSON number for amounts, but the published contract and every response are string-only.  ### ULIDs Receipt IDs use ULID format for better performance and sortability: ```json \"01HZXYZ123456789ABCD\" ```  ## Support  - **Support**: [dev-support@reccito.com](mailto:dev-support@reccito.com) - **Interactive docs**: [https://api.reccito.com/api/v1/redoc](https://api.reccito.com/api/v1/redoc)    This document covers Reccito's public integrations API. Admin and account-internal operations are not included. 

The version of the OpenAPI document: 1.0.0
Contact: dev-support@reccito.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module ReccitoSdk
  class MerchantAssetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List organisation assets
    # List all branding assets uploaded for the organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asset_type 
    # @return [ApiResponse]
    def list_organisation_assets(opts = {})
      data, _status_code, _headers = list_organisation_assets_with_http_info(opts)
      data
    end

    # List organisation assets
    # List all branding assets uploaded for the organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asset_type 
    # @return [Array<(ApiResponse, Integer, Hash)>] ApiResponse data, response status code and response headers
    def list_organisation_assets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantAssetsApi.list_organisation_assets ...'
      end
      # resource path
      local_var_path = '/api/v1/merchant/assets/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'asset_type'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantAssetsApi.list_organisation_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantAssetsApi#list_organisation_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload organisation banner
    # Upload a banner file for the organisation. Supported formats: JPEG, PNG, WebP. Max 5MB.
    # @param file [File] Banner file to upload
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def upload_organisation_banner(file, opts = {})
      data, _status_code, _headers = upload_organisation_banner_with_http_info(file, opts)
      data
    end

    # Upload organisation banner
    # Upload a banner file for the organisation. Supported formats: JPEG, PNG, WebP. Max 5MB.
    # @param file [File] Banner file to upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Integer, Hash)>] ApiResponse data, response status code and response headers
    def upload_organisation_banner_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantAssetsApi.upload_organisation_banner ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling MerchantAssetsApi.upload_organisation_banner"
      end
      # resource path
      local_var_path = '/api/v1/merchant/assets/upload/banner'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantAssetsApi.upload_organisation_banner",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantAssetsApi#upload_organisation_banner\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload organisation logo
    # Upload a logo file for the organisation. Supported formats: JPEG, PNG, WebP, SVG. Max 5MB.
    # @param file [File] Logo file to upload
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def upload_organisation_logo(file, opts = {})
      data, _status_code, _headers = upload_organisation_logo_with_http_info(file, opts)
      data
    end

    # Upload organisation logo
    # Upload a logo file for the organisation. Supported formats: JPEG, PNG, WebP, SVG. Max 5MB.
    # @param file [File] Logo file to upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Integer, Hash)>] ApiResponse data, response status code and response headers
    def upload_organisation_logo_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantAssetsApi.upload_organisation_logo ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling MerchantAssetsApi.upload_organisation_logo"
      end
      # resource path
      local_var_path = '/api/v1/merchant/assets/upload/logo'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantAssetsApi.upload_organisation_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantAssetsApi#upload_organisation_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload store logo
    # Upload a logo file for a specific store. Supported formats: JPEG, PNG, WebP, SVG. Max 5MB.
    # @param store_id [String] 
    # @param file [File] Store logo file to upload
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def upload_store_logo(store_id, file, opts = {})
      data, _status_code, _headers = upload_store_logo_with_http_info(store_id, file, opts)
      data
    end

    # Upload store logo
    # Upload a logo file for a specific store. Supported formats: JPEG, PNG, WebP, SVG. Max 5MB.
    # @param store_id [String] 
    # @param file [File] Store logo file to upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Integer, Hash)>] ApiResponse data, response status code and response headers
    def upload_store_logo_with_http_info(store_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantAssetsApi.upload_store_logo ...'
      end
      # verify the required parameter 'store_id' is set
      if @api_client.config.client_side_validation && store_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_id' when calling MerchantAssetsApi.upload_store_logo"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling MerchantAssetsApi.upload_store_logo"
      end
      # resource path
      local_var_path = '/api/v1/merchant/assets/upload/store/logo'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'store_id'] = store_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantAssetsApi.upload_store_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantAssetsApi#upload_store_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
