=begin
#Reccito API

# # Reccito API  A receipt management platform that enables businesses to create, manage, and share digital receipts with customers through QR codes, mobile apps, and web interfaces.  ## Key Features  ### 🏢 **Multi-Tenant Architecture** - Organization and store hierarchy - Scoped API access and permissions - Isolated data per organization  ### 📱 **Digital Receipt Management** - Create and store digital receipts - Generate QR codes for easy customer access - Barcode generation for physical receipts - Time-limited QR codes for security  ### 🔐 **Authentication & Security** - API key authentication for merchants - JWT token authentication for customers - Phone-based customer verification with SMS - Rate limiting per organization - Permission-based access control  ## Authentication  ### Merchant Authentication (API Keys) ``` Authorization: Bearer rcp_live_1234567890abcdef ```  Merchants use API keys to access business endpoints. API keys can be scoped to: - **Organization level**: Access to all stores within organization - **Store level**: Access limited to specific store  ## Rate Limits  API requests are rate limited per organization (defaults: 60/minute, 1,000/hour, 10,000/day; configurable per organization). Responses include rate limit headers: - `X-RateLimit-Limit-Minute` / `X-RateLimit-Remaining-Minute` / `X-RateLimit-Reset-Minute` - `X-RateLimit-Limit-Hour` / `X-RateLimit-Remaining-Hour` / `X-RateLimit-Reset-Hour`  ## Error Handling  The API uses standard HTTP status codes. Error responses use one of two shapes depending on the endpoint — integrators should handle both:  - `404` and `500` responses use a structured envelope:   ```json   {       \"error\": {           \"code\": \"NOT_FOUND\",           \"message\": \"The requested resource was not found\",           \"path\": \"/api/v1/merchant/receipts/abc\"       }   }   ``` - All other error responses (400, 401, 403, 422, etc.) use FastAPI's default   `{\"detail\": ...}` shape, where `detail` may be a plain string or a   structured object depending on the endpoint. For example:   ```json   { \"detail\": \"No active subscription found.\" }   ```   or   ```json   { \"detail\": { \"code\": \"free_tier_quota_exceeded\", \"message\": \"...\" } }   ```   `422` validation errors follow FastAPI's standard `detail: [...]` array   shape (field, message, error type per invalid field).  ## Pagination  List endpoints use offset pagination (`page`/`limit` query parameters):  ```json {     \"receipts\": [...],     \"total\": 150,     \"page\": 1,     \"limit\": 25,     \"has_next\": true,     \"has_prev\": false } ```  ## Data Formats  ### Dates and Times Timestamps are ISO 8601. Most are UTC with an explicit offset (`2024-01-15T14:30:00+00:00`); a few older fields may omit the offset — treat any timestamp without one as UTC.  ### Currency and Amounts Monetary amounts are serialized as **decimal strings** (not numbers), with a separate `currency` field. This avoids floating-point precision loss and keeps every money field consistent across the API: ```json {     \"total_amount\": \"12.99\",     \"currency\": \"GBP\" } ``` Request bodies still lenient-accept a JSON number for amounts, but the published contract and every response are string-only.  ### ULIDs Receipt IDs use ULID format for better performance and sortability: ```json \"01HZXYZ123456789ABCD\" ```  ## Support  - **Support**: [dev-support@reccito.com](mailto:dev-support@reccito.com) - **Interactive docs**: [https://api.reccito.com/api/v1/redoc](https://api.reccito.com/api/v1/redoc)    This document covers Reccito's public integrations API. Admin and account-internal operations are not included. 

The version of the OpenAPI document: 1.0.0
Contact: dev-support@reccito.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module ReccitoSdk
  class MerchantReceiptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Receipt
    # Create a new receipt. Synchronous: the receipt is durably persisted before this returns (see ReceiptService.create_receipt_synchronously). A retry with the same dedupe_key returns the original receipt with 200, not an error (idempotent replay, Stripe-style).
    # @param receipt_create [ReceiptCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ReceiptImmediateResponse]
    def create_receipt(receipt_create, opts = {})
      data, _status_code, _headers = create_receipt_with_http_info(receipt_create, opts)
      data
    end

    # Create Receipt
    # Create a new receipt. Synchronous: the receipt is durably persisted before this returns (see ReceiptService.create_receipt_synchronously). A retry with the same dedupe_key returns the original receipt with 200, not an error (idempotent replay, Stripe-style).
    # @param receipt_create [ReceiptCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReceiptImmediateResponse, Integer, Hash)>] ReceiptImmediateResponse data, response status code and response headers
    def create_receipt_with_http_info(receipt_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantReceiptsApi.create_receipt ...'
      end
      # verify the required parameter 'receipt_create' is set
      if @api_client.config.client_side_validation && receipt_create.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_create' when calling MerchantReceiptsApi.create_receipt"
      end
      # resource path
      local_var_path = '/api/v1/merchant/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receipt_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ReceiptImmediateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantReceiptsApi.create_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantReceiptsApi#create_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Receipt
    # Get receipt by ID.
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantReceiptResponse]
    def get_receipt(receipt_id, opts = {})
      data, _status_code, _headers = get_receipt_with_http_info(receipt_id, opts)
      data
    end

    # Get Receipt
    # Get receipt by ID.
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantReceiptResponse, Integer, Hash)>] MerchantReceiptResponse data, response status code and response headers
    def get_receipt_with_http_info(receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantReceiptsApi.get_receipt ...'
      end
      # verify the required parameter 'receipt_id' is set
      if @api_client.config.client_side_validation && receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_id' when calling MerchantReceiptsApi.get_receipt"
      end
      # resource path
      local_var_path = '/api/v1/merchant/receipts/{receipt_id}'.sub('{receipt_id}', CGI.escape(receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantReceiptResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantReceiptsApi.get_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantReceiptsApi#get_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Receipts
    # List receipts with filters and pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :store_id 
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [ReceiptListResponse]
    def list_receipts(opts = {})
      data, _status_code, _headers = list_receipts_with_http_info(opts)
      data
    end

    # List Receipts
    # List receipts with filters and pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :store_id 
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [Array<(ReceiptListResponse, Integer, Hash)>] ReceiptListResponse data, response status code and response headers
    def list_receipts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantReceiptsApi.list_receipts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling MerchantReceiptsApi.list_receipts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MerchantReceiptsApi.list_receipts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MerchantReceiptsApi.list_receipts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/merchant/receipts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'store_id'] = opts[:'store_id'] if !opts[:'store_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReceiptListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantReceiptsApi.list_receipts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantReceiptsApi#list_receipts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh Qr Code
    # Refresh QR code for a receipt.
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [QRRefreshResponse]
    def refresh_receipt_qr(receipt_id, opts = {})
      data, _status_code, _headers = refresh_receipt_qr_with_http_info(receipt_id, opts)
      data
    end

    # Refresh Qr Code
    # Refresh QR code for a receipt.
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QRRefreshResponse, Integer, Hash)>] QRRefreshResponse data, response status code and response headers
    def refresh_receipt_qr_with_http_info(receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantReceiptsApi.refresh_receipt_qr ...'
      end
      # verify the required parameter 'receipt_id' is set
      if @api_client.config.client_side_validation && receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_id' when calling MerchantReceiptsApi.refresh_receipt_qr"
      end
      # resource path
      local_var_path = '/api/v1/merchant/receipts/{receipt_id}/refresh-qr'.sub('{receipt_id}', CGI.escape(receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QRRefreshResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantReceiptsApi.refresh_receipt_qr",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantReceiptsApi#refresh_receipt_qr\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
