=begin
#Reccito API

# # Reccito API  A receipt management platform that enables businesses to create, manage, and share digital receipts with customers through QR codes, mobile apps, and web interfaces.  ## Key Features  ### 🏢 **Multi-Tenant Architecture** - Organization and store hierarchy - Scoped API access and permissions - Isolated data per organization  ### 📱 **Digital Receipt Management** - Create and store digital receipts - Generate QR codes for easy customer access - Barcode generation for physical receipts - Time-limited QR codes for security  ### 🔐 **Authentication & Security** - API key authentication for merchants - JWT token authentication for customers - Phone-based customer verification with SMS - Rate limiting per organization - Permission-based access control  ## Authentication  ### Merchant Authentication (API Keys) ``` Authorization: Bearer rcp_live_1234567890abcdef ```  Merchants use API keys to access business endpoints. API keys can be scoped to: - **Organization level**: Access to all stores within organization - **Store level**: Access limited to specific store  ## Rate Limits  API requests are rate limited per organization (defaults: 60/minute, 1,000/hour, 10,000/day; configurable per organization). Responses include rate limit headers: - `X-RateLimit-Limit-Minute` / `X-RateLimit-Remaining-Minute` / `X-RateLimit-Reset-Minute` - `X-RateLimit-Limit-Hour` / `X-RateLimit-Remaining-Hour` / `X-RateLimit-Reset-Hour`  ## Error Handling  The API uses standard HTTP status codes. Error responses use one of two shapes depending on the endpoint — integrators should handle both:  - `404` and `500` responses use a structured envelope:   ```json   {       \"error\": {           \"code\": \"NOT_FOUND\",           \"message\": \"The requested resource was not found\",           \"path\": \"/api/v1/merchant/receipts/abc\"       }   }   ``` - All other error responses (400, 401, 403, 422, etc.) use FastAPI's default   `{\"detail\": ...}` shape, where `detail` may be a plain string or a   structured object depending on the endpoint. For example:   ```json   { \"detail\": \"No active subscription found.\" }   ```   or   ```json   { \"detail\": { \"code\": \"free_tier_quota_exceeded\", \"message\": \"...\" } }   ```   `422` validation errors follow FastAPI's standard `detail: [...]` array   shape (field, message, error type per invalid field).  ## Pagination  List endpoints use offset pagination (`page`/`limit` query parameters):  ```json {     \"receipts\": [...],     \"total\": 150,     \"page\": 1,     \"limit\": 25,     \"has_next\": true,     \"has_prev\": false } ```  ## Data Formats  ### Dates and Times Timestamps are ISO 8601. Most are UTC with an explicit offset (`2024-01-15T14:30:00+00:00`); a few older fields may omit the offset — treat any timestamp without one as UTC.  ### Currency and Amounts Monetary amounts are serialized as **decimal strings** (not numbers), with a separate `currency` field. This avoids floating-point precision loss and keeps every money field consistent across the API: ```json {     \"total_amount\": \"12.99\",     \"currency\": \"GBP\" } ``` Request bodies still lenient-accept a JSON number for amounts, but the published contract and every response are string-only.  ### ULIDs Receipt IDs use ULID format for better performance and sortability: ```json \"01HZXYZ123456789ABCD\" ```  ## Support  - **Support**: [dev-support@reccito.com](mailto:dev-support@reccito.com) - **Interactive docs**: [https://api.reccito.com/api/v1/redoc](https://api.reccito.com/api/v1/redoc)    This document covers Reccito's public integrations API. Admin and account-internal operations are not included. 

The version of the OpenAPI document: 1.0.0
Contact: dev-support@reccito.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module ReccitoSdk
  class MerchantStoresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Store
    # Create a new store for the organisation.  **Authentication:** Required (Organisation bearer token)
    # @param store_create [StoreCreate] 
    # @param [Hash] opts the optional parameters
    # @return [StoreResponse]
    def create_store(store_create, opts = {})
      data, _status_code, _headers = create_store_with_http_info(store_create, opts)
      data
    end

    # Create Store
    # Create a new store for the organisation.  **Authentication:** Required (Organisation bearer token)
    # @param store_create [StoreCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreResponse, Integer, Hash)>] StoreResponse data, response status code and response headers
    def create_store_with_http_info(store_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantStoresApi.create_store ...'
      end
      # verify the required parameter 'store_create' is set
      if @api_client.config.client_side_validation && store_create.nil?
        fail ArgumentError, "Missing the required parameter 'store_create' when calling MerchantStoresApi.create_store"
      end
      # resource path
      local_var_path = '/api/v1/merchant/stores'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(store_create)

      # return_type
      return_type = opts[:debug_return_type] || 'StoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantStoresApi.create_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantStoresApi#create_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Store
    # Get a specific store by ID.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - `store_id`: UUID of the store
    # @param store_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StoreResponse]
    def get_store(store_id, opts = {})
      data, _status_code, _headers = get_store_with_http_info(store_id, opts)
      data
    end

    # Get Store
    # Get a specific store by ID.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - &#x60;store_id&#x60;: UUID of the store
    # @param store_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreResponse, Integer, Hash)>] StoreResponse data, response status code and response headers
    def get_store_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantStoresApi.get_store ...'
      end
      # verify the required parameter 'store_id' is set
      if @api_client.config.client_side_validation && store_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_id' when calling MerchantStoresApi.get_store"
      end
      # resource path
      local_var_path = '/api/v1/merchant/stores/{store_id}'.sub('{store_id}', CGI.escape(store_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantStoresApi.get_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantStoresApi#get_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Store Stats
    # Get statistics for a store.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - `store_id`: UUID of the store
    # @param store_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StoreStatsResponse]
    def get_store_stats(store_id, opts = {})
      data, _status_code, _headers = get_store_stats_with_http_info(store_id, opts)
      data
    end

    # Get Store Stats
    # Get statistics for a store.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - &#x60;store_id&#x60;: UUID of the store
    # @param store_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreStatsResponse, Integer, Hash)>] StoreStatsResponse data, response status code and response headers
    def get_store_stats_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantStoresApi.get_store_stats ...'
      end
      # verify the required parameter 'store_id' is set
      if @api_client.config.client_side_validation && store_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_id' when calling MerchantStoresApi.get_store_stats"
      end
      # resource path
      local_var_path = '/api/v1/merchant/stores/{store_id}/stats'.sub('{store_id}', CGI.escape(store_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoreStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantStoresApi.get_store_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantStoresApi#get_store_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Stores
    # List all stores for the organisation.  **Authentication:** Required (Organisation bearer token)  **Query Parameters:** - `skip`: Number of stores to skip (default: 0) - `limit`: Number of stores to return (default: 100, max: 1000) - `is_active`: Filter by active status (optional) - `q`: Search by store name/code/city/email/phone (optional)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip  (default to 0)
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [Boolean] :is_active 
    # @option opts [String] :q 
    # @return [StoreListResponse]
    def list_stores(opts = {})
      data, _status_code, _headers = list_stores_with_http_info(opts)
      data
    end

    # List Stores
    # List all stores for the organisation.  **Authentication:** Required (Organisation bearer token)  **Query Parameters:** - &#x60;skip&#x60;: Number of stores to skip (default: 0) - &#x60;limit&#x60;: Number of stores to return (default: 100, max: 1000) - &#x60;is_active&#x60;: Filter by active status (optional) - &#x60;q&#x60;: Search by store name/code/city/email/phone (optional)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip  (default to 0)
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [Boolean] :is_active 
    # @option opts [String] :q 
    # @return [Array<(StoreListResponse, Integer, Hash)>] StoreListResponse data, response status code and response headers
    def list_stores_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantStoresApi.list_stores ...'
      end
      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling MerchantStoresApi.list_stores, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MerchantStoresApi.list_stores, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MerchantStoresApi.list_stores, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 120
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling MerchantStoresApi.list_stores, the character length must be smaller than or equal to 120.'
      end

      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling MerchantStoresApi.list_stores, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/merchant/stores'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'is_active'] = opts[:'is_active'] if !opts[:'is_active'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoreListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantStoresApi.list_stores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantStoresApi#list_stores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Store
    # Update a store.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - `store_id`: UUID of the store  **Request Body:** Updated store fields (all optional)
    # @param store_id [String] 
    # @param store_update [StoreUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [StoreResponse]
    def update_store(store_id, store_update, opts = {})
      data, _status_code, _headers = update_store_with_http_info(store_id, store_update, opts)
      data
    end

    # Update Store
    # Update a store.  **Authentication:** Required (Organisation bearer token)  **Path Parameters:** - &#x60;store_id&#x60;: UUID of the store  **Request Body:** Updated store fields (all optional)
    # @param store_id [String] 
    # @param store_update [StoreUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreResponse, Integer, Hash)>] StoreResponse data, response status code and response headers
    def update_store_with_http_info(store_id, store_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantStoresApi.update_store ...'
      end
      # verify the required parameter 'store_id' is set
      if @api_client.config.client_side_validation && store_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_id' when calling MerchantStoresApi.update_store"
      end
      # verify the required parameter 'store_update' is set
      if @api_client.config.client_side_validation && store_update.nil?
        fail ArgumentError, "Missing the required parameter 'store_update' when calling MerchantStoresApi.update_store"
      end
      # resource path
      local_var_path = '/api/v1/merchant/stores/{store_id}'.sub('{store_id}', CGI.escape(store_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(store_update)

      # return_type
      return_type = opts[:debug_return_type] || 'StoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantStoresApi.update_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantStoresApi#update_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
